<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Conferma Elimina Prenotazione</title>
</head>
<body>
    <div align="center">
        <h2>Prenotazione eliminata con successo!</h2>
        <hr>
        <br>
        <a href="/prenotazioni/visualizza">
            <button type="submit" class="registerbtn">Prenotazioni</button>
        </a>
    </div>
    <br>
    <div align="center">
        <form action="#" th:action="@{/profilehomepage}" method="post">
            <div class="container">
                <button type="submit">Homepage</button>
            </div>
        </form>
    </div>
    <br><hr>

</body>
</html>